# This file includes the NHS Identity Signage layouts, for sign mockups and
# directions on websites.
.sign {
    min-width: 15em;
    max-width: 30em;
    min-height: 3.5em;
    padding: 0.8em;
    .destination {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-weight: bold;
        font-size: 160%;
        .glyphicon {
            width: 1.3em;
            padding-left: 0.2em;
        }
    }
    .arrow-right {
        padding-left: 1.60em;
        .glyphicon {
            padding-left: 0.6em;
        }
    }
}
.sign.destination-right {
    text-align: right;
}
.sign.destination-centre {
    text-align: center;
}
.sign.sign-red {
    background-color: #CC0000;
    color: white;
}
.sign.sign-blue {
    background-color: #0066CC;
    color: white;
}
.sign.sign-yellow {
    background-color: #FFFF00;
    color: block;
}
